.alert {
    border-radius: 0;
    padding: .5em;
    margin-bottom: .5em;
}

.contact-form {
	font-family: "Open Sans";
	font-size: 0.875em;
}
.contact-label {
	text-align: left;
	color: #000000;
	
	margin-top: 1.7em;
	/*font-size: 1em;*/
}

.contact-label label {
	font-weight: normal;
}

.contact-input {
	width: 100%;
}

.contact-form input[type=submit] {
  border: 2px solid #006f51;
  background-color: #006f51;
  color: #ffffff;
  /*font-size: 0.7em;*/
  line-height: 1.75em;
}

.form-control-wrapper {
	margin-top: 1.7em;
}

.form-control-wrapper .floating-label {
    color: #000000;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 5px;
    transition: .3s ease all;
    /*margin-bottom: 1.7em;*/
    /*font-size: 1em;*/
}

.contact-form .file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.contact-form .file-upload span {

}

.contact-form .file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.contact-form .btn-primary {
    color: #006f51;
    background-color: #fff;
	
    border: 2px solid #006f51;
    border-radius: 0;