@media (min-width :768px) and (max-width:991px){
.gallery-placeholder {
    padding-bottom: 166%;
}
.map-popup-close-button {
    height: 3.34em !important;
    width: 3.34em !important;
}
.map-popup-close-button .fa-close {
    margin-top: .6em !important;
}
#main-nav-white {
font-size: .8rem;
}
#main-nav-white li{
    padding-top: 1.75em;
}
.secondary-left-copy-green {
	padding-left: .5em;
}
.page-banner-title .dude-dude.duder{

}
}