.rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    /* black overlay with 50% transparency */
    background: rgba(0, 0, 0, 0.4);
}
#main-callout .callout-box {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* border-right: 1px solid #fff; */
    /* border-top: 1px solid #fff; */
    outline: 1px solid #fff;
    font-size: 1rem;
    /* border-bottom: 1px solid #fff; */
    border-bottom: 1px solid #fff;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

#main-callout .callout-box:first-child{
	border-left: 0px solid #fff;
}
#main-callout .callout-box:last-child{
	border-right: 0px solid #fff;
}
.main-callout-placeholder{
	padding-bottom:100%;
}
.main-callout-button-container{
	position: absolute;
    width: 100%;
    bottom: 2em;
    text-align: center;

}
.main-callout-button {
    width: 9em;
    border: 2px solid #fff;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: .25em;
    padding-bottom: .25em;
    letter-spacing: 1px;
}
.main-callout-button a{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	font-size: 0.813em;
	text-decoration: none;
}
.callout-box-1:hover{
	background-image:url('../images/shoring-home-highlight.jpg') !important;
}
.callout-box-2:hover{
	background-image:url('../images/caissons-home.jpg') !important;
}
.callout-box-3:hover{
	background-image:url('../images/excavation-home-highlight.jpg') !important;
}
.callout-box-4:hover{
	background-image:url('../images/shotcrete-home-highlight.jpg') !important;
}
.management-popup{
	display: none;
}
.management-popup-close-button{
    background: #006f51;
    top: 0;
    right: 0;	
    text-align: center;
}
.management-popup-close-button i{
	    color: #fff;
    font-size: 1.5em;
    /* text-align: center; */
    margin-top: .15em;
}


.popup-copy-container{
	padding:3em;
	font-size: 1rem;
}
.popup-copy-container h2{
	color: #020202;
	font-weight: 700;
	font-size: 1.250em;
	line-height: 1.2;
}
.popup-copy-container p{
	color:#373737;
	font-size: 1.125em;
	line-height: 1.7;
	margin-top: 2em;
}
.fancybox-skin {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#main-nav .fa-angle-double-right {
	font-size: .65em;
    position: relative;
    top: -.2em;
}
#main-nav hr{

    width: 100%;
    border-top: 1px solid #8eb0a7;
}
#main-nav ul{
	margin-bottom: 0;
}
#main-nav li:last-child {
    border-bottom: 0px solid #8eb0a7;
}
.social-menu-section{
	border-top: 1px solid #8eb0a7;
}
.fifty-logo-final{
	position: absolute;
	z-index: 6;
	right: 1.5em;
	top: 1.5em;
	width: 5.5em;
}
.map-splash {
	z-index: 108;
}
#map-popup{
	display: none;
}
#map-popup h2 {
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    margin-top: .4em;
}
#map-popup .title-part{
    background-color: #807e7e;
}
.map-popup-close-button {
    color: transparent;
    background: #000;
    top: 0;
    right: 0;
    text-align: center;
    height: 3.2em;
    width: 3.2em;
}
.map-popup-close-button .fa-close {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    margin-top: .5em;
}
.launch-instructions-button {

    margin-top: 2em;
    display: block;
}
.launch-instructions-button:hover {
color: #fff;
}
#map-popup ul{
    padding-top: 3em;
    color: #5c5a5a;
    font-weight: 600;
    line-height: 2.5;
    padding-left: 1.4em;
    font-size: 0.875em;
}

.fifty-splash-section{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: 4;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/50th-splashpage-image.jpg');
}
.fifty-splash-section .copy-part{
    color: #fff;
}
.fifty-splash-section .copy-part h1{
	font-size:1.750em;
	line-height:1.5;
}
.fifty-splash-section .copy-part p{
	font-size:1.125em;
	font-weight:700;
	line-height:2.3;
}
.white-cover-50{
     position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 4;
}
.see-timeline-button{
    border: 3px solid #fff;
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .25em;
	font-weight:700;
	color: #f78d2c;
	background-color: rgba(0, 0, 0, 0.5);
	font-size:1.125em;
    cursor: pointer;
    padding-bottom: .25em;
}