@media (max-width :767px){
	.gallery-placeholder {
		padding-bottom: 400%;
	}
	.shoring-gallery-mobile{
		border-top:2px solid #fff;
	}
	.shoring-gallery-mobile .gallery-slide .gallery-slide-image{
		width:100%;
		padding-bottom:85%;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
	}
	.slick-dots{
		bottom:auto;
	}
	.slick-dots li{
		width:10px;
	}
	.slick-dots li.slick-active button:before {
		    color: #007150;
	}
	#mobile-header{
		z-index: 6;
		position: fixed;
		width: 100%;
	}
	.page-banner-page{
		padding-bottom: 100%;
	}
	.management-banner.page-banner-page{
		padding-bottom: 100% !important;
		background-image:url('../images/m3.jpg') !important;
		background-size:cover !important;
		background-position:center center !important;
	}
	.secondary-left-copy-green{
		display: none !important;
	}
	.dude-dude img{
		display: none;
	}
	.secondary-right-copy article {
		top: -0em; 
	}
	.gallery-mobile-copy{
		text-align:center;
		padding-bottom:2em;
	}
	.gallery-mobile-copy span{
		font-weight:600;
	}
	.gallery-mobile-copy h2{
		    font-size: 2.3em;
    line-height: 1.142;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
	    margin-top: .5em;
    letter-spacing: -1px;
	}
	.careers-page-banner{
		
    background-position: center right;
	}
	.duder {
		width: 100%;
		max-width: none;
		padding-top: 1em;
		padding-bottom: 1em;
		background-color: #666;
		border-top: 1px solid #fff;
	}
	.historical-container{
		padding-top: 92px;
	}
	#mobile-header .table-cell{
		vertical-align: middle;
		padding-top:.5em;
		padding-bottom:.5em;
	}
	#mobile-header .brand-section{
		background-color: #fff;
	}
	#mobile-header .icon-section{
		background-color: #007150;
	}
	#mobile-header .phone-section,#mobile-header .contact-section{
		font-size: 2.5em;
		background-color: #c4c4c4;
	}
	#mobile-header .phone-section a,#mobile-header .contact-section a{
		color:#4f4f4f;
	}	
	#mobile-header .phone-section{
		border-right: 1px solid #616161;
	}
	#mobile-header .contact-section{
		border-left: 1px solid #616161;
	}
	#main-nav{
		padding-top:10em;
		font-size: .75rem;
	}
	#footer-address-block {
		background: url('#');
		background-repeat: no-repeat;
		background-position-x: 100%;
		padding-right: 2em;
	}
	#footer-license-block{
		padding-left:1em;
	}
	.mobile-social{
		text-align: center;
	}
	.mobile-social a{
		display: inline-block;
	}
	#footer address{
		float: none;
		text-align: center;
		padding-top: 2em;
	}

	.mobile-banner{
		padding-bottom:100%;
		background-size: cover;
		position: relative;
		    min-height: 375px;
		background-position: center center;
	}
	.mobile-banner .mobile-banner-wrap{
		text-align: center;
		position: absolute;
		width: 100%;
		top: 20%;
		font-size: 1rem;
	}
	#footer{
		font-weight: 400;
	}
	.mobile-banner .mobile-banner-wrap img{
		display:inline-block;
		max-width: 10em;
	}
	.mobile-banner .mobile-banner-wrap h1{
		color: #fff;
		margin: 0 auto;
		margin-top: 1em;
		font-size: 2.1em;
		max-width: 15em;
		display: block;
		font-family: 'HBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	}
}