
.table-fluid{display:table;width: 100%;height:100%;}
.table-row{display:table-row;}
.table-cell{display:table-cell;float: none;}
.pad-0{padding:0em}.pad-l-0{padding-left:0em}.pad-r-0{padding-right:0em}.pad-t-0{padding-top:0em}.pad-b-0{padding-bottom:0em}.mar-0{margin:0em}.mar-l-0{margin-left:0em}.mar-r-0{margin-right:0em}.mar-t-0{margin-top:0em}.mar-b-0{margin-bottom:0em}.pad-0-5{padding:0.5em}.pad-l-0-5{padding-left:0.5em}.pad-r-0-5{padding-right:0.5em}.pad-t-0-5{padding-top:0.5em}.pad-b-0-5{padding-bottom:0.5em}.mar-0-5{margin:0.5em}.mar-l-0-5{margin-left:0.5em}.mar-r-0-5{margin-right:0.5em}.mar-t-0-5{margin-top:0.5em}.mar-b-0-5{margin-bottom:0.5em}.pad-1{padding:1em}.pad-l-1{padding-left:1em}.pad-r-1{padding-right:1em}.pad-t-1{padding-top:1em}.pad-b-1{padding-bottom:1em}.mar-1{margin:1em}.mar-l-1{margin-left:1em}.mar-r-1{margin-right:1em}.mar-t-1{margin-top:1em}.mar-b-1{margin-bottom:1em}.pad-1-5{padding:1.5em}.pad-l-1-5{padding-left:1.5em}.pad-r-1-5{padding-right:1.5em}.pad-t-1-5{padding-top:1.5em}.pad-b-1-5{padding-bottom:1.5em}.mar-1-5{margin:1.5em}.mar-l-1-5{margin-left:1.5em}.mar-r-1-5{margin-right:1.5em}.mar-t-1-5{margin-top:1.5em}.mar-b-1-5{margin-bottom:1.5em}.pad-2{padding:2em}.pad-l-2{padding-left:2em}.pad-r-2{padding-right:2em}.pad-t-2{padding-top:2em}.pad-b-2{padding-bottom:2em}.mar-2{margin:2em}.mar-l-2{margin-left:2em}.mar-r-2{margin-right:2em}.mar-t-2{margin-top:2em}.mar-b-2{margin-bottom:2em}.pad-2-5{padding:2.5em}.pad-l-2-5{padding-left:2.5em}.pad-r-2-5{padding-right:2.5em}.pad-t-2-5{padding-top:2.5em}.pad-b-2-5{padding-bottom:2.5em}.mar-2-5{margin:2.5em}.mar-l-2-5{margin-left:2.5em}.mar-r-2-5{margin-right:2.5em}.mar-t-2-5{margin-top:2.5em}.mar-b-2-5{margin-bottom:2.5em}.pad-3{padding:3em}.pad-l-3{padding-left:3em}.pad-r-3{padding-right:3em}.pad-t-3{padding-top:3em}.pad-b-3{padding-bottom:3em}.mar-3{margin:3em}.mar-l-3{margin-left:3em}.mar-r-3{margin-right:3em}.mar-t-3{margin-top:3em}.mar-b-3{margin-bottom:3em}.pad-3-5{padding:3.5em}.pad-l-3-5{padding-left:3.5em}.pad-r-3-5{padding-right:3.5em}.pad-t-3-5{padding-top:3.5em}.pad-b-3-5{padding-bottom:3.5em}.mar-3-5{margin:3.5em}.mar-l-3-5{margin-left:3.5em}.mar-r-3-5{margin-right:3.5em}.mar-t-3-5{margin-top:3.5em}.mar-b-3-5{margin-bottom:3.5em}.pad-4{padding:4em}.pad-l-4{padding-left:4em}.pad-r-4{padding-right:4em}.pad-t-4{padding-top:4em}.pad-b-4{padding-bottom:4em}.mar-4{margin:4em}.mar-l-4{margin-left:4em}.mar-r-4{margin-right:4em}.mar-t-4{margin-top:4em}.mar-b-4{margin-bottom:4em}.pad-4-5{padding:4.5em}.pad-l-4-5{padding-left:4.5em}.pad-r-4-5{padding-right:4.5em}.pad-t-4-5{padding-top:4.5em}.pad-b-4-5{padding-bottom:4.5em}.mar-4-5{margin:4.5em}.mar-l-4-5{margin-left:4.5em}.mar-r-4-5{margin-right:4.5em}.mar-t-4-5{margin-top:4.5em}.mar-b-4-5{margin-bottom:4.5em}.pad-5{padding:5em}.pad-l-5{padding-left:5em}.pad-r-5{padding-right:5em}.pad-t-5{padding-top:5em}.pad-b-5{padding-bottom:5em}.mar-5{margin:5em}.mar-l-5{margin-left:5em}.mar-r-5{margin-right:5em}.mar-t-5{margin-top:5em}.mar-b-5{margin-bottom:5em}
.width-100{
	width:100%;
}
@font-face {
font-family: HBlack;
src: url("../custom/Helvetica-Condensed-Black.otf") format("opentype");
}

/* LG */
@media (min-width :1200px){

	html{
		font-size: 106.25%;
	}
	html{
		font-size: 100%;
	}	
}

/* MD */
@media (min-width :992px) and (max-width:1199px){
	html{
		font-size:100%;
	}	
}

/* SM */
@media (min-width :768px) and (max-width:991px){
	html{
		font-size:93.75%;
	}	
}

/* XS */
@media (max-width :767px){
	html{
		font-size:87.5%;
	}	
}
.page-wrapper{
	z-index: 7;
}
.open-sans{
	font-family: 'Open Sans', sans-serif;
}
.helvetica{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
	font-size:inherit;
	text-rendering: optimizeLegibility;
	position: relative;
}

/* header, nav, menu */
#main-nav {
    position: fixed;
    z-index: 5;
    width: 100%;

    visibility: hidden;
    font-size: 1rem;
    text-align: center;

    padding-top: 7em;
	height: 100vh;
    overflow-y: auto;

}
#main-nav ul{
	list-style-type: none;
	opacity: 0;
	padding-left: 0;

}
.dude-dude{
max-width:320px;	
}
#main-nav.open{
	visibility: visible;
}
#main-nav.open ul{

	opacity: 1;
}
#main-nav .large-font {
    font-size: 2.313em;
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    line-height: 1.94;
}
#main-nav a{
	color: #fff;
}
#menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    left: 0;
    background: rgba(0, 111, 81, 0.95);
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-image: url('../images/dirt-1.png');    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    background-position-y: -3px;	
}
#menu-overlay.open{
    opacity: 1;
    visibility: visible;
}
#main-header .col-xs-12{
	min-height: inherit;
}
.secondary-page #main-nav-white{
	display: none;
}
#main-nav-white{
	font-size: 1rem;
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 1;
	font-weight: 700;
	text-transform: uppercase;
}

#main-nav-white ul{
	padding-left: 0;
}
#main-nav-white li{
	display: inline-block;
	padding: 1em;
	padding-top:1.5em;
}
.page-banner-page{
	-webkit-animation-duration: 1000ms;
	-o-animation-duration: 1000ms;
	animation-duration: 1000ms;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom:36.6%;
}
#main-nav-white a{
	color: #fff;
	display: block;
}
/* .brand-box{
	position: fixed;
	z-index: 6;
	left: 1.5em;
	top:1.5em;
	width: 15%;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;	
} */
.brand-box{
	position: fixed;
	z-index: 6;
	left:0;
	top:0;
	width: 15%;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;	
}
.white-logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;
	-moz-transform:translate3d(1.5em,1.5em,0);
	-webkit-transform:translate3d(1.5em,1.5em,0);
	transform:translate3d(1.5em,1.5em,0);
}
.green-logo{
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	min-width: 3.125em;
	min-height: 3.750em;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;	
}
.green-nav{
	display: table;
	width: 100%;
	min-width: 7.813em;
	-webkit-transform:translate3d(1.5em,1.5em,0);	
	transform: translate3d(1.5em,1.5em,0);
}
.green-nav-logo{
	display: table-cell;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 1em;
	padding-bottom: 1em;
	float: none;
	width: 50%;
	min-width: 4em;
	opacity: 0;
	text-align: center;
	background-color: #fff;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;	
}
.green-nav-box{
    display: table-cell;
    float: none;
    width: 50%;
    min-width: 4em;
    text-align: center;
    vertical-align: middle;
    background: #006f51;
    color: #fff;
    opacity: 0;
	-webkit-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;
	cursor: pointer;    
}
.show-green-logo.brand-box, .secondary-page .brand-box{
	width: 11%;
}
.show-green-logo .white-logo, .secondary-page .white-logo{
	opacity: 0;
	z-index: 0;
}
.show-green-logo.brand-box, .secondary-page .brand-box{
	-webkit-transform:translate3d(-1.5em,-1.5em,0);	
	transform: translate3d(-1.5em,-1.5em,0);

}
.show-green-logo .green-logo, .secondary-page .green-logo{
	opacity: 1;
	z-index: 1;
	display: inline-block;
	background-color: #fff;
	
}
.show-green-logo .green-nav-box, .secondary-page .green-nav-box{
    opacity: 1;	
}
.show-green-logo .green-nav-logo, .secondary-page .green-nav-logo{
	opacity: 1;
}

















.rev_slider_wrapper{
	height: 0;
	padding-bottom: 62.734375%;
	max-height: 803px;
}
@media (min-width:1230px){
	.rev_slider_wrapper{
		max-height: 803px;
		height: 803px;
		padding-bottom: inherit;
	}
}
.main-slider-header{
	font-family: 'HBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-weight: 700 !important;
}
.main-slider-subheader{
	font-family: 'HBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-weight: 700 !important;	
}
.read-more-button{
	font-weight: 700 !important;
	font-family: 'HBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	letter-spacing: 1px !important;
	border-radius:0px !important;
	    border-color: rgba(255,255,255,1.0) !important;
}
#main-copy{
	background-color:#006f51;
	color: #fff;
    background-image: url('../images/dirt-1.png');
    background-size: cover;
    background-repeat: no-repeat;
	font-size: 1rem;
}
#main-copy h2{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-bottom: 2em;
}
#main-copy p{
	font-size: 1em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 2;
    font-weight: 600;	
}
#main-banner{
	position: relative;
	margin-bottom: 1px;
}
#main-banner .title-divider{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
}
#main-callout{
	font-size: 1rem;
}
#main-callout img{
	display: inline-block;
}

#main-callout h3{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.375em;
	font-weight: 500;		
}
#main-callout p{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 0.875em;
    max-width: 11em;
}
.map-page #footer{
	display: none;
}
.gallery-concontainer{
	position: relative;
}
.secondary-left-copy-green {
    background-color: #006f51;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 1em;
    background-image: url('../images/dirt-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 2em;
}
.secondary-left-copy-green > div {
    max-width: 16em;
    margin: 0 auto;
}
.secondary-left-copy-green h3{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 1.5em;
	
}
.secondary-left-copy-green ul{
  font-size: .875em;
  line-height: 1.3;
	padding-left: 1em;
}

.secondary-left-copy-green a{
	color: #FFFFFF;
	text-decoration: underline;
}

.secondary-left-copy-green p{
	font-size: .875em;
}

.secondary-right-copy{
	font-size:1rem;

}

.secondary-right-copy article {
    position: relative;
    top: -5em;
    text-align: center;
    padding: 2em;
    padding-top: 4em;
    -webkit-box-shadow: 7px 0 8px -5px rgba(0,0,0,0.2);
    box-shadow: 7px 0 8px -5px rgba(0,0,0,0.2);
    display: inline-block;
    background: #fff;
    padding-bottom: 4em;
}
.secondary-right-copy p {
    margin: 0 auto;
    max-width: 27em;
    font-size: 1.125em;
    text-align: justify;
    line-height: 1.77778;
}
.secondary-right-copy h2 {
    font-size: 2.3em;
    line-height: 1.142;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 auto;
    max-width: 15em;
}
.secondary-right-copy aside{
	text-align: center;
	font-size: 1.5em; /* 24/16 */
	line-height: 1.333333333em;
	font-style: italic;
	margin: 0 auto;
    max-width: 20em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
.gallery-banner{
	font-style: 1rem;
	color:#fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
}
.gallery-banner-text{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	bottom: 0;
}
.gallery-banner-text h1{
	font-size: 2.500em;
}
.gallery-banner-text span{
	font-size: 1.125em;
}
/*.gallery-page footer{
	opacity: 0;
}*/
.gallery-placeholder{
	padding-bottom: 60%;
}
.shoring-gallery{
	font-size: 0;
}
.shoring-gallery a{
	display: inline-block;
	width: 25%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 25%;
	position: relative;
/*	float: left;*/
}
.shoring-gallery 
.gallery-thumbnail-popup{
	display: none;
}
.black-overlay-baby{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    background-color: rgba(0, 0, 0, 0.7);	
}
.fancybox-gallery:hover .black-overlay-baby {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;

}
.hoverview{

}
.black-overlay-baby{
	font-size: 1rem;
	height: 100%;
	text-align: center;
}

.black-overlay-copy-wrapper {
    color: #fff;
    top: 50%;
    width: 100%;
    position: absolute;
    margin-top: -2em;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
}
.fancybox-gallery:hover .black-overlay-copy-wrapper{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);	
}
.title-black-overlay{
	position: relative;
	top: -1em;	
}
.subtitle-black-overlay{
	position: relative;
	top: 1em;
}

/*.shoring-gallery{
	font-size: 0;
    position: absolute;
    top: 0;	
}*/
/*.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}*/
/*.shoring-gallery .mix{
	display: none;
	width: 25%;
	height: 0;
	overflow: hidden;
	padding-bottom: 25%;
	background-size: cover;
	background-repeat: no-repeat;
}
.shoring-gallery .mix img{
    z-index: -1;
    position: relative;
    width: 100%;
    opacity: 0;
}

@media (min-width :1200px){
.shoring-gallery .mix{
	width: 20%;
	padding-bottom: 20%;
}
}


@media (min-width :992px) and (max-width:1199px){
.shoring-gallery .mix{
	width: 25%;
	padding-bottom: 25%;
}
}


@media (min-width :768px) and (max-width:991px){
.shoring-gallery .mix{
	width: 33.3333333333%;
	padding-bottom: 33.3333333333%;	
}	
}


@media (max-width :767px){
.shoring-gallery .mix{
	width: 50%;
	padding-bottom: 50%;		
}
}
*/
#footer{
	background-color:#006f51;
	color: #fff;
	font-weight: 100;
	z-index: 3;
	position: relative;
	font-size: 1rem;
    background-image: url('../images/dirt-2.png');
    background-size: cover;
    background-repeat: no-repeat;		
}
#footer .container{
	padding-left: 2em;
    padding-right: 2em;
    font-size: .875em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;    
}
#footer a{
	color: #fff;
}
#footer address{
	line-height: 2;
	float: right;
}
#footer-license-block{
	line-height: 2;
	padding-left: 4em;
} 
#footer-address-block{
	background: url('../images/divider-bottom.png');
	background-repeat: no-repeat;
	background-position-x: 100%;
	padding-right: 2em;
}
.test-copy-description {
	position: absolute;
    font-size: 1rem;
    width: 100%;
    display: table;
    white-space: normal;
    height: 100%;
}

.test-copy-description .text-copy-cell{
    display: table-cell;
    height: 100%;
    float: none;
    vertical-align: middle;
}
.test-copy-description .text-copy-block{

	padding: 7.67em;
	margin: 0 auto;
}
.text-copy-block img{
	padding-top: 3em;
    padding-bottom: 3em;
}
.test-copy-description .text-copy-block .smallish{
	font-size: 0.688em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #8a8a8a;	
}
.test-copy-description .text-copy-block .largish{
	font-size: 1.125em;
	color: #4a4848;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 2;
}

.back-button-50{
	position: absolute;
	padding: 2em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #8a8a8a;
	font-weight: 700;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 1500ms linear;
	-o-transition: opacity 1500ms linear;
	transition: opacity 1500ms linear;
	font-size: 0.750em;
	cursor: pointer;
}
.open .back-button-50{
	opacity: 1;
}
.back-button-50  .fa-chevron-left{
    font-size: 1.7em;
    font-weight: 400;
    /* padding: 1em; */
    border: 1px solid #8a8a8a;
    padding-top: .3em;
    padding-bottom: .25em;
    padding-left: .4em;
    padding-right: .5em;
}
.back-button-50 div{
	display: inline-block;
	position: relative;
    top: -.3em;
    left: .5em;	
}
.text-copy-block.animated{
	-webkit-animation-duration: 1500ms;
	-o-animation-duration: 1500ms;
	animation-duration: 1500ms;
	-webkit-animation-delay: 300ms;
	-o-animation-delay: 300ms;
	animation-delay: 300ms;
}
#test-fiftieth.open .test-slide{
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;	
}
#test-fiftieth.open .test-copy-left {
    width: 60%;
    background: #fff;
    height: 100vh;
    position: relative;
    z-index: 2;
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;	    
}
#test-fiftieth .slide-text {
    font-size: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;    
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top: -7.813em;
    white-space: normal;
    left: 0;
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;    
}
#test-fiftieth.open .slide-text{
	opacity: 0;
}
#test-fiftieth .slide-text .slide-year span{
	font-size: 3.500em;
	font-weight: 600;
	letter-spacing: 2px;
}
#test-fiftieth .slide-text .slide-button{
	cursor: pointer;
	text-align: center;
	border: 0.250em solid #fff;
	width: 2.500em;
	margin-bottom: 1.250em;
	height: 2.500em;
	padding-top: .35em;
	display: inline-block;
}
#test-fiftieth .slide-text .slide-description{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	width: 10em;
	height: 5em;
	margin: 0 auto;
}

#gallery{
	position: relative;
}

#gallery .slide-section {
	display: table;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	bottom:0;
	-webkit-transition: width 1500ms ease-out;
	-o-transition: width 1500ms ease-out;
	transition: width 1500ms ease-out;
}
#gallery .slide-section .fiftieth-slide{
	display: table-cell;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 20%;
	cursor: pointer;
	-webkit-transition: width 500ms ease-out;
	-o-transition: width 500ms ease-out;
	transition: width 500ms ease-out;
}
#gallery .slide-section .fiftieth-slide:hover{
	width: 25%;
}
.fiftieth-slide.animated:hover{
	width:19% !important;
}
#gallery .copy-section{
	height: 100vh;
	width: 60%;
/*	background-color: pink;
*/	-webkit-transition: width 1500ms ease-out;
	-o-transition: width 1500ms ease-out;
	transition: width 1500ms ease-out;
}


#gallerytest{
	overflow: hidden;
}
#gallerytest .slide-section{
	height: 100vh;
	width: 100%;
	font-size: 0;
	position: relative;
	z-index: 3;
	white-space: nowrap;
	-webkit-transition: width 1500ms ease-out;
	-o-transition: width 1500ms ease-out;
	transition: width 1500ms ease-out;
}
#gallerytest .copy-section{
	background-color: #fff;
	height: 100vh;
	position: absolute;
	z-index: 0;
	width: 60%;
	z-index: 3;
	overflow: hidden;
}
#gallerytest .slide-section .fiftieth-slide{
	width: 20%;
	position: relative;
	height: 100vh;
	cursor: pointer;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	background-position: center center;
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;
}
#gallerytest.tabled .slide-section .fiftieth-slide{
	width: 15%;
}
.blackened{
	-webkit-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: rgba(0, 0, 0, 0.50);
}
.tabled.hovering .blackened{
	position:absolute;
	top:0;
	bottom:0;

	left:0;
	right:0;
	-webkit-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;	
    background-color: rgba(0, 0, 0, 0.50);
}
.open .active .blackened{
	background-color: rgba(0, 0, 0, 0);	
}
.closing .active .blackened{
	background-color: rgba(0, 0, 0, 0);		
}
.tabled.hovering .active .blackened{
	background-color: rgba(0, 0, 0, 0);
}
#gallerytest .pushing-div{
	width: 0%;
	height: 100vh;
	display: inline-block;
	-webkit-transition: width 1500ms ease-out;
	-o-transition: width 1500ms ease-out;
	transition: width 1500ms ease-out;
}
#gallerytest.tabled .slide-section{
	display: table;
}
#gallerytest.tabled .slide-section .fiftieth-slide{
	display:table-cell;
	cursor: pointer;
	vertical-align: middle;
	-webkit-transition: width 300ms ease-out, background-position-x 1500ms ease-out;
	-o-transition: width 300ms ease-out, background-position-x 1500ms ease-out;
	transition: width 300ms ease-out, background-position-x 1500ms ease-out;
}
#gallerytest .slide-section .fiftieth-slide:hover{
	width: 25%;
/*	-ms-background-position-x: 60%;
	background-position-x: 100%;*/
}
#gallerytest.tabled .pushing-div{
	display: none;
}
#gallerytest.open .pushing-div{
	width: 60%;
}

#gallerytest.open .last-slide{
/*	-ms-background-position-x: 90%;
	background-position-x: 90%;*/	
}
#gallerytest.open .slide-section .fiftieth-slide{
	width: 0%;
	opacity: 0;
}
/*#gallerytest.open .last-slide{
	max-width: 5%;
}*/
#gallerytest.open-completed .slide-section{
	z-index: 1;
}
#gallerytest.open .slide-section .fiftieth-slide.active{
	width: 40%;
	opacity: 1;
}
#gallerytest .slide-text {
    font-size: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;    
    position: absolute;
    top: 50%;

    text-align: center;
    width: 100%;
    margin-top: -7.813em;
    white-space: normal;
    left: 0;
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;    
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
#gallerytest .slide-text {
    font-size: 1rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;    
    position: absolute;
    top: auto;

    text-align: center;
    width: 100%;
    margin-top: -7.813em;
    white-space: normal;
    left: 0;
	-webkit-transition: all 1500ms ease-out;
	-o-transition: all 1500ms ease-out;
	transition: all 1500ms ease-out;    
}
}
#gallerytest.open .slide-text{
	opacity: 0;
	top: 50%;
}
#gallerytest.closing .slide-text{
	top: 50%;
}
#gallerytest .slide-text .slide-year span{
	font-size: 3.500em;
	font-weight: 600;
	letter-spacing: 2px;
}
#gallerytest .slide-text .slide-button{
	cursor: pointer;
	text-align: center;
	border: 0.250em solid #fff;
	width: 2.500em;
	margin-bottom: 1.250em;
	height: 2.500em;
	padding-top: .35em;
	display: inline-block;
}
#gallerytest .slide-text .slide-description{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	font-weight: 600;
	width: 10em;
	height: 5em;
	margin: 0 auto;
}
.no-hover{
	position: absolute;
	background:transparent;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 4;
}
.open-completed .no-hover, .tabled .no-hover{

	z-index:0;
}
.initializing .no-hover{
	position: absolute;
	background:transparent;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: 4;	
}
#main-nav .inner-expanded{
	font-size: 1rem;
}
#main-nav li{
	border-bottom:1px solid #8eb0a7;
}
#main-nav .inner-expanded li{
	border-bottom:0px solid #8eb0a7;
}
#main-nav .inner-expanded a{
	font-size: 1.250em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	color: #89f9db;

	text-transform: lowercase;
	font-weight: 300;
	line-height: 1.9;
}
#main-nav .inner-expanded{
	display: none;
	animation-name: none;
	    margin-bottom: 1em;
}
#main-nav .fa-angle-double-right{
	-webkit-transition: transform 200ms linear;
	-o-transition: transform 200ms linear;
	transition: transform 200ms linear;
}
#main-nav .active-nav .fa-angle-double-right{

    transform: rotate(90deg);
}
.social-menu-section{
	border-bottom: none !important;
}
.social-menu-section a{
	color: #fff;
    /* font-size: 2em; */
    font-size: 2.313em;

        line-height: 1.94;

}
.page-banner-title {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
}
.duder{
	text-align: center;
	padding-bottom: 1.75em;
	padding-top: 1.75em;
	font-family: "Open Sans";
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.71);	
}
.menu-open body{
	overflow:hidden;
}

.side-menu ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0 auto;
}
.side-menu li {
    padding-left: 1em;
    border-bottom: 1px solid #4d9a86;
}
.side-menu li:last-child{
	border-bottom: none;
}
.side-menu a{
	text-decoration: none;
	color: #fff;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
    line-height: 2.25;
    font-weight: 300;	
}
.side-menu a:hover{
	font-weight: 400;
}
.side-menu a.active{
	font-weight: 700;
}
@media (min-width :1200px){
	
	#footer{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	#main-copy {
		padding-top: 5%;
		padding-bottom: 5%;
	}
}