.management-banner.page-banner-page {
    background-image: url('../images/management-all.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 36.6%;
}



.management-buttons {
    /* top: 50%; */
    /* position: absolute; */
    /* width: 100%; */
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 0;
    list-style-type: none;
}

.management-buttons li {

}

.management-button {
    font-size: 1.5em;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}

/*.management-button-wrapper .tooltip {
	background-color: #fff;
}*/

.management-button i {
	position: relative;
    left: .27em;
  color:#fff;
}

.management-buttons li.manager1 {
    left: 19%;
    position: absolute;
    bottom: 56%;
}

.management-buttons li.manager2 {
    position: absolute;
    left: 46%;
    top: 28%;
}

.management-buttons li.manager3 {
    position: absolute;
    left: 67%;
    top: 33%;
}

.management-buttons li.manager4 {
    position: absolute;
    left: 87%;
    top: 25%;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fff;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #fff;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}


.manager1 .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 13% !important;
    /* left: 50%; */
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #fff;
}

.manager2 .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 13% !important;
    /* left: 50%; */
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #fff;
}

.manager3 .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 13% !important;
     /*left: 50%; */
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #fff;
}

.manager4 .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 17% !important;
    /* left: 50%; */
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #fff;
}

.tooltip-inner {
    max-width: 400px;
    padding: 3px 8px;
    width: 160px;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: 600;
}

.manager1 .tooltip.top {
    top: -52px !important;
    left: -4.875px !important;
    display: block;
}

.manager2 .tooltip.top {
    top: -52px !important;
    left: -4.875px !important;
    display: block;
}

.manager3 .tooltip.top {
    top: -52px !important;
    left: -4.875px !important;
    display: block;
}

.manager4 .tooltip.top {
    top: -52px !important;
    left: -8.875px !important;
    display: block;
}
