.map-splash {
    padding-top:5em;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 40000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/map-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.white-layer-around-it{
    z-index: 40000001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #fff;
    -webkit-transition: opacity 800ms linear;
         -o-transition: opacity 800ms linear;
         transition: opacity 800ms linear;     
}
.white-layer-around-it.revealmap{
  opacity: 0;
}
.hide-map{
  opacity: 0;
}
.launch-map-button {
    color: #fff;
    font-weight: 700;
    font-size: 1.313em;
    border: 3px solid #fff;
    text-align: le;
    position: relative;
    display: inline-block;
    padding-top: 0.25em;
    padding-bottom: .25em;
    padding-left: .65em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-right: .65em;
    /*right: 15%;*/
    margin-top: 2em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.launch-instructions-button {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
  padding-top: 1em;
  text-decoration: underline;
}

a.map-popup-close-button {
    color: transparent;
}

.map-splash-copy p{
  color: #fff;
  font-size: 1.125em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
  line-height: 2.38;
}
.map-image-container{
  text-align: center;
}
.map-image-container img{
  display: inline-block;
}
.map-page body { margin:0; padding:0; }
.map-page  #map { position:relative; z-index: 0; top:0; width:100%; height:100vh; }

/* Map Project List */
.map-page  .info {
    background: #fff;
    position: absolute;
    width: 260px;
    height: 65%;
    top: 45px;
    right: 10px;
    z-index: 0;
    border-radius: 2px;
    overflow-y: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    /*display: none;*/
}
.map-page .info .item {
      display:block;
      border-bottom:1px solid #eee;
      padding:10px;
      text-decoration:none;
      font-weight: bold;
      text-transform: capitalize;
      color: #006f51;
      font-size: .8em;
}
.map-page .info .item small { 
  color:#6B6B6B;  
  display: block; 
  font-weight: lighter;
}
.map-page .info .item:hover,
.map-page .info .item.active { 
  background-color: rgba(0,111,81,.2); 
  color: #000000;
}
.map-page .info .item.active small,
.map-page .info .item:hover small {
  color: #000000;
}
.map-page .info .item:last-child { 
  border-bottom:none; 
}


/* Map project list images */
.map-page .info .item .project-list-image, 
.map-page .leaflet-popup-content .project-list-image {
  height: 100px;
  width: 100%;
  /*margin: 0 0 0 -10px;*/
  padding: 0;
  display: block;
  text-align: center;
  border-top: 1px solid #006f51;
  border-bottom: 1px solid #006f51;
  overflow: hidden;
  position: relative;
}

.map-page .leaflet-popup-content .project-list-image {
  width: 100%;
  margin-left: 0px;
}

.map-page .info .item .project-list-image img,
.map-page .leaflet-popup-content .project-list-image img {
  width: 260px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
}

/* Map marker cluster icons */
.map-page .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.map-page .marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.map-page .marker-cluster-medium {
    background-color: rgba(50, 180, 110, 0.6);
}
.map-page .marker-cluster-medium div {
  background-color: rgba(20, 160, 40, 0.6);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


.map-page .marker-cluster-large {
    background-color: rgba(0, 111, 81, 0.6);
}
.map-page .marker-cluster-large div {
  background-color: rgba(0, 100, 12, 0.6);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}



/* Map popup styling */
.map-page .leaflet-popup-content {
  background-color: rgba(0, 111, 81, .2); 
  margin: 0;
  line-height: 1.5em;
  font-weight: bold;
  width: 280px;
}

.map-page .leaflet-popup-content small {
  display: block;
  text-transform: capitalize;
  /*line-height: 0.5em;*/
  font-weight: normal;
}
.map-page .leaflet-popup-content-wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  border: 1px solid #006f51;
  background-color: rgba(255, 255, 255, .8);
  padding: 0;
}

.map-page .leaflet-popup-tip {
  border-top: 10px solid rgba(0, 111, 81, .2)
}


.map-page .menu-ui {
  background: transparent;
  position:absolute;
  bottom:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:260px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 0.9em;
  line-height: 2.2em;
  font-weight: 500;
}
.map-page .menu-ui a {
  /*font-size:13px;*/
  color:#404040;
  display: inline-block;
  margin:0;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #FFF;
  /*padding:10px;*/
  text-decoration:none;
  border:1px solid rgba(0,0,0,0.4);
  text-align:center;
  width: 120px;
  float: right;
  text-transform: uppercase;
}
/*.map-page .menu-ui a:first-child {
  border-radius:3px 3px 0 0;
}
.map-page .menu-ui a:last-child {
  border:none;
  border-radius:0 0 3px 3px;
}*/
.map-page .menu-ui a:hover {
  background:#f8f8f8;
  color:#404040;
}
.map-page .menu-ui a.active {
  background:#006f51;
  color:#FFF;
}
.map-page .menu-ui a.active:hover {
  background:#006f51;
  color: #FFF;
}

.map-page .menu-ui #reset-list {
  display: inline-block;
  background: #006f51;
  color: #FFF;
  padding-left: .5em;
  padding-right: .5em;
  width: 120px;
  cursor: pointer;
  float: left;
  text-align: center;
  text-transform: uppercase;
  border:1px solid rgba(0,0,0,0.4);
}

.map-page .search-block {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  width: 260px;
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.map-page .search-block .search-ui {
  display: block;
  padding-right: .4em;
  width: 260px;
  line-height: 2em;
  padding-left: 8px;
}




/** Media Queries **/
@media only screen and (max-width: 767px) {
  .map-page .info {
    display: none;
  }
  .map-page .search-block {
    display: none;
  }
}