.testimonials blockquote {
	border-left: 0;
}

.testimonials blockquote p {
	font-size: 0.8em;
	line-height: 1.4;
	font-style: italic;
}

.testimonials blockquote footer {
	padding-top: 1em;
	font-weight: bold;
}